:root {
    --pico-font-family: "Roboto";
    --pico-font-size: 100%;
    --pico-spacing: 0.75rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 1rem;
    --pico-transition: 0.1s ease-in-out;
    --pico-outline-width: 0.2rem;
    --original-pico-color: var(--pico-color);
}

/* Margin at the top of the page */
h1 {
    margin-top: 1rem;
}

/* Remove underline on tooltips */
span[data-tooltip] {
    border-bottom: 0px !important;
    cursor: default !important;
}

/* Solve submission form */
fieldset.no-spacing {
    margin-bottom: 0;
}
h2 {
    margin-top: var(--pico-spacing);
}
.editing span.display-data {
    display: none;
}
span.edit-data {
    display: none;
}
.editing span.edit-data {
    display: inline;
}

/* Fix border-radius on dropdowns */
.dropdown {
    border-radius: var(--pico-border-radius);
}

/* so we don't need href='javascript:void(0);' */
a:hover {
    cursor: pointer;
}

/* Solve table filters */
@media (prefers-color-scheme: dark) {
    a.filter.selected, a.filter.selected:focus, a.filter.selected:hover {
        background-color: var(--pico-color-slate-650);
    }
    .filter.deselected:focus, .filter.deselected:hover, .dropdown:hover {
        transition: var(--pico-transition) background-color;
        background-color: var(--pico-color-slate-750);
    }
}
@media (prefers-color-scheme: light) {
    a.filter.selected, a.filter.selected:focus, a.filter.selected:hover {
        background-color: var(--pico-color-slate-350);
    }
    .filter.deselected:focus, .filter.deselected:hover, .dropdown:hover {
        transition: var(--pico-transition) background-color;
        background-color: var(--pico-color-slate-250);
    }
}
button.filter.deselected {
    background-color: var(--pico-card-background-color);
    color: var(--original-pico-color);
}
details summary[role="button"] {
    background-color: var(--pico-card-background-color);
    color: var(--original-pico-color);
    width: 15rem;
}
[role=group] button.filter {
    --pico-form-element-spacing-vertical: 0.25rem;
    --pico-form-element-spacing-horizontal: 1rem;
}
details.dropdown {
    --pico-form-element-spacing-vertical: 0.25rem;
    --pico-form-element-spacing-horizontal: 1rem;
}

/* Solve tables */
.solve-table-event         { text-align: left;   }
.solve-table-rank          { text-align: right; width: 0; }
.solve-table-solver        { text-align: left;   }
.solve-table-speed-cs      { text-align: right;  }
.solve-table-move-count    { text-align: right;  }
.solve-table-date          { text-align: center; }
.solve-table-program       { text-align: center; }
.solve-table-total-solvers { text-align: right;  }
.solve-table-score         { text-align: right;  }
tr.solve-row {
    cursor: pointer;
    background-color: var(--pico-background-color);
    transition: background-color var(--pico-transition)
}
tr.solve-row:hover:not(:has(td > a:hover)) {
    background-color: var(--pico-dropdown-hover-background-color);
}
td {
    background-color: transparent;
}

/* Duration input */
.input-duration-container {
    /* Look like an input element */
    background-color: var(--pico-background-color);
    border-radius: var(--pico-border-radius);
    border: var(--pico-border-width) solid var(--pico-border-color);
    box-shadow: var(--pico-box-shadow);
    color: var(--pico-color);
    font-weight: var(--pico-font-weight);
    height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
    line-height: var(--pico-line-height);
    margin-bottom: var(--pico-spacing);
    transition: background-color var(--pico-transition), border-color var(--pico-transition), color var(--pico-transition), box-shadow var(--pico-transition);
    width: 20em;

    --pico-background-color: var(--pico-form-element-background-color);
    --pico-border-color: var(--pico-form-element-border-color);
    --pico-color: var(--pico-form-element-color);
    --pico-outline-width: 0.0625rem;

    /* Contain other elements */
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    padding-right: 1rem;
}
.input-duration-container:focus-within {
    --pico-background-color: var(--pico-form-element-active-background-color);
    --pico-border-color: var(--pico-form-element-active-border-color);
    --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
}
fieldset[disabled] > .input-duration-container {
    opacity: var(--pico-form-element-disabled-opacity);
}
/* Small text underneath */
:where(.input-duration-container) + small {
    display: block;
    width: 100%;
    margin-top: calc(var(--pico-spacing) * -.75);
    margin-bottom: var(--pico-spacing);
    color: var(--pico-muted-color);
}
label > :where(.input-duration-container) {
    margin-top: calc(var(--pico-spacing) * 0.25);
}
input.input-duration {
    padding: var(--pico-form-element-spacing-vertical) calc(var(--pico-form-element-spacing-horizontal) / 2);
    height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2);
    text-align: right;
    border-width: 0;
    box-shadow: none;
    background-color: transparent;
}
/* h/m/s/cs */
div.input-duration-unit {
    margin: auto;
    background-color: transparent;
    user-select: none;
    color: var(--pico-muted-color);
}

/* pre looks like p */
pre {
    background: transparent;
    font: var(--pico-font-family);
}


/* Stuff for the footer */

.page-height-fixer {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.bottom-footer {
    text-align: center;
    background-color: rgb(17, 19, 23);
    padding: .2rem;
}

.footer-container {
    width: 100%;
    max-width: 1450px;
    text-align: center;
    justify-content: space-between;
    display: inline-flex;
}

.footer-credits {
    display: inline-flex;
    line-height: 40px;
    text-align: center;
}

.footer-link-box {
    gap: 1rem;
    display: inline-flex;
    line-height: 40px;
    text-align: center;
}

.footer-social-link {
    display: inline-block;
    text-align: center;
    width: 1.6rem;
}
