:root {
    --pico-font-family: "Roboto";
    --pico-font-size: 100%;
    --pico-spacing: 0.75rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 1rem;
    --pico-transition: 0.05s;
    --pico-outline-width: 0.2rem;
}

/* Margin at the top of the page */
h1 {
    margin-top: 1rem;
}

/* Remove underline on tooltips */
span.tooltip {
    border-bottom: 0px !important;
}

/* Solve submission form */
.editing span.display-data {
    display: none;
}
span.edit-data {
    display: none;
}
.editing span.edit-data {
    display: inline;
}

/* Solve table filters */
a.filter.selected, a.filter.selected:focus, a.filter.selected:hover {
    background-color: var(--pico-color-slate-650);
}
button.filter.deselected {
    background-color: transparent;
}
.filter.deselected:focus, .filter.deselected:hover, .dropdown:hover {
    transition: var(--pico-transition) background-color;
    /* transition: 0s background-color; */
    background-color: var(--pico-color-slate-750);
}
details summary[role="button"] {
    background-color: transparent;
    width: 15rem;
}
[role=group] button.filter {
    --pico-form-element-spacing-vertical: 0.25rem;
    --pico-form-element-spacing-horizontal: 1rem;
}
details.dropdown {
    --pico-form-element-spacing-vertical: 0.25rem;
    --pico-form-element-spacing-horizontal: 1rem;
}

/* Solve tables */
.solve-table-event         { text-align: left;   }
.solve-table-rank          { text-align: right;  }
.solve-table-solver        { text-align: left;   }
.solve-table-speed-cs      { text-align: right;  }
.solve-table-move-count    { text-align: right;  }
.solve-table-date          { text-align: center; }
.solve-table-program       { text-align: center; }
.solve-table-total-solvers { text-align: right;  }
