.hide-subcategories tr.subcategory {
    visibility: collapse;
    display: none;
}

.hide-subcategories span.subcategory {
    display: none;
}

span.primary {
    display: none;
}

.hide-subcategories span.primary {
    display: inline;
}
