<p>
  The most recent changes are listed at the top.
</p>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Editor</th>
      <th>Description</th>
    </tr>
  </thead>
  {{#each log_entries}}
    <tr>
      <td>{{render_datetime this.timestamp}}</td>
      <td><a href="{{this.editor_url}}">{{this.editor_name}}</a></td>
      <td><p><pre>{{this.description}}</pre></p></td>
    </tr>
  {{/each}}
</table>
