{{#> layouts/base.html}}
  {{#*inline "title"}}
    General Audit Log
  {{/inline}}
  {{#*inline "content"}}

    <h1>General audit log</h1>

    <p>
      Each solve and user page contains its own audit log.
      This page only lists other changes.
    </p>

    {{> components/audit-log-contents.html}}

  {{/inline}}
{{/layouts/base.html}}
