{{#> layouts/base.html}}
  {{#*inline "title"}}
    Solve #{{solve_id}} - Audit Log
  {{/inline}}
  {{#*inline "content"}}

    <h1>Audit log for solve <a href="{{solve_url}}">#{{solve_id}}</a></h1>

    {{> components/audit-log-contents.html}}

  {{/inline}}
{{/layouts/base.html}}
