{{#> layouts/base.html}}
  {{#*inline "title"}}
    Audit Log - Solve #{{solve_id}}
  {{/inline}}
  {{#*inline "content"}}

    <h1>Audit log for user <a href="{{solver_url}}">{{solver_name}}</a></h1>

    {{> components/audit-log-contents.html}}

  {{/inline}}
{{/layouts/base.html}}
