{{#> layouts/base.html}}
  {{#*inline "title"}}
    {{target_user_name}} - Audit Log
  {{/inline}}
  {{#*inline "content"}}

    <h1>Audit log for user <a href="/solver?id={{target_user.id}}">{{target_user_name}}</a></h1>

    {{> components/audit-log-contents.html}}

  {{/inline}}
{{/layouts/base.html}}
