{{#> layouts/base.html empty_title=true}}
  {{#*inline "title"}}{{/inline}}
  {{#*inline "content"}}
    {{> components/h1-with-submit-button.html h1="World Records"}}

    {{#if active_user.moderator}}
      <article>
        <span class="iconify" data-icon="mdi:security"></span>
        <a href="pending-submissions">Pending submissions ({{pending_submissions_count}})</a>
        <br>
        <span class="iconify" data-icon="mdi:security"></span>
        <a href="categories">Categories</a>
        <br>
        <span class="iconify" data-icon="mdi:security"></span>
        <a href="users">Users</a>
      </article>
    {{/if}}

    {{> components/solve-table.html endpoint='solve-table/all?' filters=true distinct=true}}
  {{/inline}}
{{/layouts/base.html}}
