{{#> layout.html}}

  {{#*inline "title"}}
    Hypercubing Leaderboards
  {{/inline}}
  {{#*inline "content"}}

    <div style="display: flex; justify-content: space-between">
      <h1>World records</h1>

      <div>
        <a role="button" class="secondary" href="https://hypercubing.xyz/leaderboards/rules/">
          <span class="iconify" data-icon="mdi:format-list-numbered"></span>
          Rules
        </a>
        <a role="button" href="/upload-external">
          <span class="iconify" data-icon="mdi:plus-circle"></span>
          Submit a solve
        </a>
      </div>
    </div>

    {{> solve-table.html endpoint='solves-table/all?'}}

  {{/inline}}
{{/layout.html}}
