<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i%7CRoboto+Mono:400,400i,700,700i&amp;display=fallback" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css" />
    <link rel="stylesheet" href="/css/leaderboard-styles.css" />
    <script src="/js/form.js" type="text/javascript"></script>
    <script src="/js/redirect-here.js" type="text/javascript"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <title>{{> title}}{{#unless empty_title}} - {{/unless}}Hypercubing Leaderboards</title>
  </head>

  <body>
    <header class="container flex-container">
      <h1><a href="/" style="text-decoration: none">Hypercubing Leaderboards</a></h1>
      <nav>
        <ul>
          <li><a href="https://hypercubing.xyz/">Wiki</a></li>
          <li><a href="https://hypercubing.xyz/faq/">FAQ</a></li>
          <li><a href="/">Leaderboards</a></li>
          <li><a href="https://hypercubing.xyz/discord/">Discord</a></li>
        </ul>

        <ul>
          <li>
            {{#if hideLogInButton}}
            {{else if active_user.name}}
              <details class="dropdown">
                <summary>{{active_user.name}}</summary>
                <ul>
                  <li>
                    <a href="/solver?id={{active_user.id}}">
                      <span class="iconify" data-icon="mdi:account"></span>
                      Profile
                    </a>
                  </li>
                  <li>
                    <a href="/my-submissions">
                      <span class="iconify" data-icon="mdi:list-status"></span>
                      My submissions
                    </a>
                  </li>
                  <li>
                    <a href="/settings">
                      <span class="iconify" data-icon="mdi:gear"></span>
                      Settings
                    </a>
                  </li>
                  <li>
                    <a href="/sign-out" class="redirect-here">
                      <span class="iconify" data-icon="mdi:exit-to-app"></span>
                      Sign out
                    </a>
                  </li>
                  <li>
                    <a href="/pending-submissions">
                      <span class="iconify" data-icon="mdi:inbox"></span>
                      <span class="iconify" data-icon="mdi:security"></span>
                      Pending submissions
                    </a>
                  </li>
                </ul>
              </details>
            {{else}}
              <a href="/sign-in" class="redirect-here">Sign in</a>
            {{/if}}
          </li>
        </ul>
      </nav>
      <hr />
    </header>

    <main class="container">
      {{> content}}
    </main>
  </body>

</html>
