{{#> layout.html hideLogInButton=true}}
  {{#*inline "title"}}
    Sign in
  {{/inline}}
  {{#*inline "content"}}

    <p>
      If you have any difficulties signing in, ask on the <a href="https://hypercubing.xyz/discord/" target="_blank">Hypercubers Discord server</a>
      or email <a href="mailto:support@hypercubing.xyz">support@hypercubing.xyz</a>.
    </p>

    <div class="grid">
      <div>
        <h1>Sign in with Discord</h1>

        <script type="text/javascript">
          function submit_discord() {
            document.getElementById('discord-form').hidden = true;
            document.getElementById('discord-form-waiting').hidden = false;
          }
        </script>

        <form method="post" action="sign-in-discord" enctype="multipart/form-data" class="normalize-multipart" onsubmit="submit_discord()">
          <input type="hidden" name="redirect" placeholder="" autocomplete="off" class="get-parameter" />
          <span id="discord-form">
            <fieldset role="group">
              <input type="text" name="username" placeholder="Discord username" autocomplete="username" required />
              <input type="submit" value="Sign in" />
            </fieldset>
          </span>
          <span id="discord-form-waiting" hidden>
            <fieldset role="group">
              <button disabled aria-busy="true">Waiting for verification via Discord DM…</button>
            </fieldset>
          </span>
          <p>
            This requires you to join the <a href="https://hypercubing.xyz/discord/" target="_blank">Hypercubers Discord server</a>
            in order to receive a direct message from the Hypercubers bot. Your Discord account will not be visible on the leaderboards,
            but it will be visible to anyone else on the Hypercubers Discord server.
          </p>
          <p>Signing in will create an account if you don't already have one.</p>
        </form>
      </div>
      <div>
        <h1>Sign in with email</h1>
        <p>This isn't an option yet, but we're working on it!</p>
        {{!-- <form method="post" action="sign-in-discord" enctype="multipart/form-data" class="normalize-multipart">
          <input type="hidden" name="redirect" class="get-parameter" />
          <fieldset>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
            <label for="otp">OTP</label>
            <input type="text" id="otp" name="otp" />
          </fieldset>
          <button>Get OTP / Sign in</button>
        </form> --}}
      </div>
    </div>

  {{/inline}}
{{/layout.html}}
