{{#> layout.html}}
  {{#*inline "title"}}
    Sign in
  {{/inline}}
  {{#*inline "content"}}
    <script src="/js/sign-in-otp.js" type="text/javascript"></script>

    <div class="grid">
      <div>
        <form method="post" id="sign-in-otp-form" action="sign-in-otp" action="sign-in-otp" enctype="multipart/form-data" class="normalize-multipart" onsubmit="submit_otp()">
          <input type="hidden" name="redirect" placeholder="" autocomplete="off" class="get-session" />
          <input type="hidden" name="email" placeholder="" autocomplete="off" class="get-session" />
          <div id="email-form-otp">
            <fieldset role="group">
              <input type="text" id="input-otp" name="otp" placeholder="One-time passcode" autocomplete="off" />
              <input type="submit" id="otp-submit" value="Sign in" disabled />
            </fieldset>
            <p>Check your email (including your spam folder) for a one-time passcode, then copy-paste it here.</p>
          </div>
        </form>

        <p>If you can't find the email, you can <a href="/sign-in">try again</a> or <a href="mailto:{{support_email}}">email us for help</a>.</p>
      </div>
      <div></div>
    </div>

  {{/inline}}
{{/layout.html}}
