{{#> layouts/base.html}}
  {{#*inline "title"}}
    {{target_user_name}}
  {{/inline}}
  {{#*inline "content"}}
    {{> components/h1-with-submit-button.html h1=target_user_name}}

    {{#if active_user.moderator}}
      <article>
        <span class="iconify" data-icon="mdi:security"></span>
        <a href="solver-submissions?id={{target_user.id}}">Submissions from this user ({{pending_submissions_count}} awaiting verification)</a>
        <br>
        <span class="iconify" data-icon="mdi:security"></span>
        <a href="audit-log/user?id={{target_user.id}}">Audit log for this user</a>
      </article>
    {{/if}}

    {{> components/solve-table.html endpoint='solve-table/user?' filters=true}}
  {{/inline}}
{{/layouts/base.html}}
