{{#> layouts/base.html}}
  {{#*inline "title"}}
    Submit solve
  {{/inline}}
  {{#*inline "content"}}
    {{#if active_user.has_name}}
      <script src="/js/submit-solve.js?v={{git_hash}}" type="text/javascript"></script>

      <h1>Submit solve</h1>

      <p>
        Read the <a href="https://hypercubing.xyz/leaderboards/rules/" target="_blank">Hypercubing Leaderboard Submission Rules</a> before submitting.
        Additionally, note that:
        <ul>
          <li>Average of 5 submissions are only accepted for speedsolves of 3<sup>4</sup> (virtual), 2<sup>4</sup> (virtual and physical), and 2<sup>5</sup> (virtual)</li>
          <li>3<sup>3</sup> solves are only accepted when using 1D Vision</li>
        </ul>
      </p>

      {{> components/solve-form.html}}
    {{else}}
      <h1>Submit solve</h1>

      <p>What do you want your name to be on the leaderboards?</p>
      <p>You can change this at any time from the <a href="/settings">user settings page</a>.</p>

      <form method="post" action="update-name" enctype="multipart/form-data" class="normalize-multipart">
        <fieldset role="group">
          <input type="hidden" name="redirect" value="/submit-solve" />
          <input type="text" name="new_name" placeholder="Firstname Lastname (screenname)" autocomplete="off" required />
          <input type="submit" value="Set name" />
        </fieldset>
      </form>

    {{/if}}
  {{/inline}}
{{/layouts/base.html}}
