{{#> layout.html}}
  {{#*inline "title"}}
    Submit solve
  {{/inline}}
  {{#*inline "content"}}

    <p>
      Read the <a href="https://hypercubing.xyz/leaderboards/rules/" target="_blank">submission rules</a> before submitting!
    </p>

    <form method="post" enctype="multipart/form-data" class="normalize-multipart">
      <div class="grid">
        <fieldset>
          <label for="puzzle_id">Puzzle</label>
          <select id="puzzle_id" name="puzzle_id">
            {{#each puzzles}}
              <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
          <label for="program_version_id">Program version</label>
          <select id="program_version_id" name="program_version_id">
            {{#each program_versions}}
              <option value="{{this.id}}">{{name_ProgramVersion this}}</option>
            {{/each}}
          </select>

          <label for="video_url">Video link (required for speedsolves)</label>
          <input type="url" id="video_url" name="video_url" />
          <label for="log_file">Log file (required for fewest-move solves)</label>
          <input type="file" id="log_file" name="log_file" />
          <button role="a" type="button" class="secondary" onclick="document.getElementById('log_file').value=''">
            Remove file
          </button>
        </fieldset>

        <fieldset>
          <label for="speed_cs">Time (cs) (required for speedsolves)</label>
          <input type="number" id="speed_cs" name="speed_cs" />
          <label for="uses_filters">
            <input type="checkbox" id="uses_filters" name="uses_filters" checked />
            Uses filters
          </label>
          <label for="uses_macros">
            <input type="checkbox" id="uses_macros" name="uses_macros" />
            Uses macros
          </label>
          <label for="uses_macros">
            <input type="checkbox" id="computer_assisted" name="computer_assisted" />
            Computer assisted
          </label>
          <label for="blind">
            <input type="checkbox" id="blind" name="blind" />
            Blindfolded
          </label>
          <label for="memo_cs">Memorization time (cs) (optional)</label>
          <input type="number" id="memo_cs" name="memo_cs" />
          <label for="move_count">Move count (required for fewest-move solves)</label>
          <input type="number" id="move_count" name="move_count" />
        </fieldset>
      </div>

      <input type="submit" value="Submit solve" />
    </form>

  {{/inline}}
{{/layout.html}}
